* {box-sizing: border-box}
body {
  color: #f8f8f8;
  font-family: sans-serif;
  user-select: none;
}

.nav {
  position: fixed;
  bottom: 1em;
  display: flex;
  width: 100%;
  justify-content: center;
}
.nav-btn {
  padding: 25px 30px;
  margin: 0 0.5em;
  border: none;
  background-color: rgba(255,255,255,0.3);
  background-size: 70%, cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-btn:active {outline: none;opacity: 0.5}

.nav-btn.object {background-image: url(img/cube.png)}
.nav-btn.object:hover {
  background-image: url(img/cube.png),linear-gradient(rgba(255,255,255,0.5),transparent);
}
.nav-btn.vehicle {background-image: url(img/car.png)}
.nav-btn.vehicle:hover {
  background-image: url(img/car.png),linear-gradient(rgba(255,255,255,0.5),transparent);
}
.nav-btn.marker {background-image: url(img/arrow-down.png)}
.nav-btn.marker:hover {
  background-image: url(img/arrow-down.png),linear-gradient(rgba(255,255,255,0.5),transparent);
}

.btns {margin: 5px 0 0}
.btn {
  color: #f8f8f8;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
}

.btn-error {background: tomato}
.btn-success {background: royalblue}

.side-bar {
  padding: 10px 15px;
  background: rgba(0, 0, 0, .8);
  font-family: 'Raleway';
  height: 85%;
  width: 24%;
  max-width: 327px;
  min-width: 274px;
  position: fixed;
}

.side-bar > .btns {
  text-align: center;
}

.side-bar.marker {
  height: auto;
  display: flex;
  flex-direction: column;
}
.marker > .input {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  flex-wrap: wrap;
}
.side-bar h1 {
  margin: 0;
  border-bottom: 1px solid #c4c4c4;
}
.side-bar input, .side-bar select {
  width: 50%;
  height: 25px;
  text-align: center;
}
.input-group input {width: 100%}
.side-bar select {text-indent: 45%}
.side-bar > p {width: 100%; margin: 0 0 5px}
.input-badge {
  position: relative;
}
.input-badge > .badge {
  color: #f8f8f8;
  background: #111;
  padding: 3px 0;
  width: 10%;
  text-align: center;
  position: absolute;
}
.input-badge > input {
  text-align: left;
  padding-left: 12%;
  margin: 0 0 10px;
}
.color.input {justify-content: space-around}
.color.input > label{
  width: 25%;
  text-align: center;
  margin-bottom: 18px;
}
.color.input > input {
  width: 20%
}

#search {
  background: rgb(255, 255, 255, 0.4);
  border: 0;
  text-align: center;
  color: inherit;
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
}
::placeholder {
  color: #c4c4c4;
  font-size: 0.8em;
}

.list {
  height: 81%;
  overflow-y: auto;
  overflow-x: hidden;
}
.list ul {
  list-style: none;
  padding: 0;
}
.list li:not(:last-child) {border-bottom: 1px solid #000}
.list li {padding: 5px}
.list > li:hover {
  background: #c4c4c4;
}