<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map Editor</title>
  <link rel="stylesheet" href="css/vue-virtual-scroller.css"/>
  <link rel="stylesheet" href="css/style.css">

  <script src="js/debounce.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/vue-virtual-scroller.min.js"></script>
  <script src="js/fuse.min.js"></script>
</head>
<body>
  <div id="vue">

    <svg  class='crosshair' :style='crosshairStyle'>
      <use xlink:href="img/crosshair.svg#Capa_1"></use>
    </svg>

    <div class="nav" v-show='!window && !isHoldingObject'>
      <button class="nav-btn new" @click="windowOpen('newMapAlert')"></button>
      <button class="nav-btn open" @click='requestMaps'></button>
      <button class="nav-btn save" @click="quickSave"></button>
      <button class="nav-btn save-as" @click="windowOpen('save-as')"></button>
    </div>

    <div class="nav nav-bottom" v-show='!window && !isHoldingObject'>
      <button class="nav-btn object" @click="windowOpen('objects')"></button>
      <button class="nav-btn vehicle" @click="windowOpen('vehicles')"></button>
      <button class="nav-btn marker" @click='createMarker'></button>
    </div>

    <div class="window maps" v-if="window == 'openMap'">
      <h1>Open Map</h1>
      <div class="list">
        <div v-for='(map,i) in mapList'
          :class='{active: selectedObj.obj == map}'
          @click='objectClick(i, map)'>
          {{ map }}
        </div>
      </div>
      <div class="btns">
        <button class="btn btn-error" @click='windowCancel'>Cancel</button>
      </div>
    </div>

    <div class="window" v-if="window == 'newMapAlert'">
      <div class="warn">
      <h3>New Map</h3>
        <p>You will lose any unsaved work, continue?</p>
        <div class="btns">
          <button class="btn btn-error" @click='windowCancel'>Cancel</button>
          <button class="btn btn-success" @click='newMap'>New Map</button>
        </div>
      </div>
    </div>

    <div id='save-as' class='window' v-show='window == "save-as"'>
      <h1>Save Map</h1>
      <h4>Meta</h4>
      <div class="input">
        <label>Map Name:</label>
        <input v-model='map.name' type="text">
      </div>
      <div class="input">
        <label>Author:</label>
        <input v-model='map.author' type="text">
      </div>
      <div class="input">
        <label>Gamemode:</label>
        <input v-model='map.gamemode' type="text">
      </div>
      <label>Description:</label><br>
      <textarea v-model='map.desc'></textarea>

      <hr>
      <div class="input">
        <label>File Name:</label>
        <input v-model='map.file' @keypress='filterFileName' type="text">
      </div>

      <p v-if='fileExists' class='warn'>Map with this file name already exists, to overwrite it press save again</p>

      <div class="btns">
        <button class="btn btn-error" @click="windowCancel">Cancel</button>
        <button class="btn btn-success" @click="windowSave">Save</button>
      </div>
    </div>

    <div class="side-bar object-list" v-show="window == 'objects'">
      <label for="search">
        SEARCH: 
        <input id='search' @input="search.debounce(600)" v-model='query' type="text" placeholder="OBJECT NAME" autocomplete="off"></label>
      <hr>

      <recycle-scroller
        class="list scroller" :items="objectsResult" :item-size="30"
        key-field="obj" v-slot="{ item,index }">
        <div :class='{active: selectedObj.obj == item.obj}'
          @click='objectClick(index, item.obj)'>
          {{ item.obj }}
        </div>
      </recycle-scroller>

      <div class="btns">
        <button class="btn btn-error" @click="windowCancel">Cancel</button>
      </div>
    </div>

    <div class="side-bar" v-show="window == 'vehicles'">
      <h1>Vehicles</h1>

      <div class="list">
        <div v-for='(ent,i) in entities'
          :class='{active: selectedObj.obj == generateEntityName(ent, ent.id)}'
          @click='objectClick(i, generateEntityName(ent, ent.id))'>
          {{ generateEntityName(ent, ent.id) }}
        </div>
      </div>

      <div class="btns">
        <button class="btn btn-error" @click="windowCancel">Cancel</button>
      </div>
    </div>
    
    <div class="side-bar right entities" v-show="window == 'entities'">
      <h1>Created Entities</h1>

      <div class="list">
        <div v-for='(ent,i) in entities'
          :class='{active: selectedObj.obj == generateEntityName(ent, ent.id)}'
          @click='objectClick(i, generateEntityName(ent, ent.id))'>
          {{ generateEntityName(ent, ent.id) }}
        </div>
      </div>

      <div class="btns">
        <button class="btn btn-error" @click="windowCancel">Cancel</button>
      </div>
    </div>

    <div class="side-bar marker" v-if="window == 'marker'">
      <h1>Marker</h1>
      <div class="input">
        <label for="marker-type">Type:</label>
        <select v-model='props.markerType' id="marker-type">
          <option value="0">first</option>
          <option value="1">second</option>
        </select>
      </div>
      
      <div class="input">
        <label for="marker-size">Size:</label>
        <input v-model='props.markerSize' id='marker-size' min='0' type="number">
      </div>

      <div class="input input-group color">
        <label for="marker-red">Red</label>
        <label for="marker-green">Green</label>
        <label for="marker-blue">Blue</label>
        <label for="marker-alpha">Alpha</label>
        <input v-model='props.color[0]' id='marker-red' min='0' type="number">
        <input v-model='props.color[1]' id='marker-green' min='0' type="number">
        <input v-model='props.color[2]' id='marker-blue' min='0' type="number">
        <input v-model='props.color[3]' id='marker-alpha' min='0' type="number">
      </div>

      <p>Position:</p>
      <div class="input-group position  ">
        <div class="input-badge">
          <div class="badge">&cross;</div>
          <input v-model='props.pos.x' type="number">
        </div>
        <div class="input-badge">
          <div class="badge">&Yscr;</div>
          <input v-model='props.pos.y' type="number">
        </div>
        <div class="input-badge">
          <div class="badge">&Zscr;</div>
          <input v-model='props.pos.z' type="number">
        </div>
      </div>

      <div class="btns">
        <button class="btn btn-error" @click="windowCancel">Cancel</button>
        <button class="btn btn-success" @click="windowSave">Save</button>
      </div>
    </div>

  </div>
  <script src="js/main.js"></script>
</body>
</html>